cat > requirements.txt <<EOL
Flask==2.3.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==3.0.3
gunicorn==23.0.0
Werkzeug==2.3.7
numpy==1.26.4
pandas==2.2.2
openpyxl==3.1.5
blinker==1.9.0
click==8.3.0
Jinja2==3.1.6
itsdangerous==2.2.0
MarkupSafe==3.0.3
packaging==25.0
et_xmlfile==2.0.0
EOL
