
.bg-light-sky-blue {
    background-color: #e3f2fd; 
}

table thead th {
    background-color: #b30000; 
    color: #ffffff; 
}

table, table th, table td {
    border-color: #cbd5e0; 
}

.hover\:bg-light-blue-100:hover {
    background-color: #e0f2f7; 
}

.form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    border-radius: 100%;
    height: 1.25rem; 
    width: 1.25rem; 
    border-width: 1px;
    border-color: #D1D5DB; 
    color: #b30000; 
}

.form-radio:checked {
    background-color: currentColor;
    border-color: currentColor;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}


.focus\:ring-red-700:focus {
    --tw-ring-color: #b30000; 
}

@media (max-width: 768px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

button {
    display: block;   
    width:auto;
    margin-bottom: 0.5rem; 
}
